---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
// import "../styles/global.css";
const { pageTitle } = Astro.props;
---
<wa-page lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <link rel="stylesheet" href="https://early.webawesome.com/webawesome@3.0.0-alpha.13/dist/styles/themes/default.css" />
    <link rel="stylesheet" href="https://early.webawesome.com/webawesome@3.0.0-alpha.13/dist/styles/webawesome.css" />

  </head>
  <body>
    <wa-page>
      <Header/>
      <h1 slot="subheader">{pageTitle}</h1>
      <div class="slot-content" slot="">
        <slot />
      </div>
      <Footer />
      <script>
        import "../scripts/menu.js";
        import "https://early.webawesome.com/webawesome@3.0.0-alpha.13/dist/webawesome.loader.js"
      </script>
    </wa-page>
  </body>
</html>